
body{
  font-family:'Take a Break!', sans-serif;
  background-color: lightblue;
  color: rgb(4, 4, 91);
}

.headers {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding:100px;
}

.carousel-inner{
  height: 10%;
  width: 50%;
}