body{
  background-color: rgb(176, 214, 226);
  font-family:'Take a Break!', sans-serif;
  color: rgb(4, 4, 91);
  margin-left: auto;
  margin-right:auto;
  margin-left:50px;
  margin-right:50px;
}


.headers {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top:50px;
    padding-bottom:10px;
    font-weight: bold;
    font-size: 36px;
}


.text {
  display:flex;
  flex-direction: column;
  font-size: 20px;
  padding:10px;
  
}

.text2 {
  display:flex;
  flex-direction:column;
  align-items: center;
  padding-bottom: 10px;
  font-size: 20px;
}

.starters {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  padding-bottom:30px;
}

.carousel-inner{
  height: 10%;
  width: 50%;
}

.carousel .item {
  height: 300px;
  align-items: center;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    align-items: center;
    padding: 50px;
}

.summary {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display:flex;
}

img{
  padding: 20px;
}

hr{
  color:rgb(3, 3, 87);
  height: 30px;
  border-width: 2px;
  font-weight: bolder;
}

.images{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top:40px
  padding-bottom: 40px;
}

.circle {
  width: 100px; 
  height: 100px; 
  background-color: rgb(3, 3, 121);
  border-radius: 50%; 
  animation: breathe 7s infinite; 
  padding:10px;
  
}


@keyframes breathe {
  0% {
      transform: scale(1); 
  }
  50% {
      transform: scale(1.5); 
  }
  100% {
      transform: scale(1); 
  }
}

.circlecontainer {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:50px;
}

.inhale,.exhale {
  margin-top:20px;
  font-size:20px;
  font-weight:bold;
  color:  rgb(2, 2, 105);
  opacity:0;
  animation: fade-in-out 8s infinite;
}

.inhale {
  animation-delay: 0s;
  padding-top: 50px;
}

.exhale {
  animation-delay: 4s;
}

@keyframes fade-in-out {
  0%, 45% {
    opacity: 1;
  }
  50%, 100% {
    opacity:0;
  }

}
